<footer class="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-3">
                <h3>Наш адрес:</h3>
                <div class="card footer-card">
                    <div class="card-block">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">г. Минск</li>
                            <li class="list-group-item">ул. Веры Хоружей, д. 1А,</li>
                            <li class="list-group-item">ТЦ Силуэт, нижний уровень,
                            сектор Б, ряд 3, место 11</li>
                        <!-- <a class="footer-link" href="{% url 'contact' %}"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> На карте</a> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
            <h3>Контакты:</h3>
                <div class="card footer-card">
                    <div class="card-block">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><h5>Телефоны:</h5></li>
                            <a class="list-group-item" href="tel:+375293694589">+375 (29) 369-45-89</a>
                            <a class="list-group-item" href="tel:+375297779723">+375 (29) 777-97-23</a>
                            <a class="list-group-item" href="tel:+375259016706">+375 (25) 901-67-06</a>
                            <li class="list-group-item"><h5>Email: </h5></li>
                            <a class="list-group-item" href="mailto:travellabminsk@gmail.com">travellabminsk@gmail.com</a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <h3>Время работы:</h3>
                <div class="card footer-card">
                    <div class="card-block">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Пн - Сб: 10:00 - 19:00</li>
                            <li class="list-group-item">Вс: выходной</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <h3>Привет:</h3>
                <div class="card footer-card">
                    <div class="card-block">
                        <li class="list-group-item"><!-- Put this script tag to the place, where the Share button will be -->
                        <script type="text/javascript"><!--
                        document.write(VK.Share.button(false,{type: "round", text: "Рассказать друзьям"}));
                        --></script>
                        <br>
                        <!-- Put this div tag to the place, where the Like block will be -->
                        <!-- <div id="vk_like"></div></li> -->
                    </div>
                </div>
            </div>
        </div>
        <hr class="orange"/>
        <p>УНП 192689959 ЧТУП "Трэвэл Лаб"<br/>
    </div>
    <div class='container'>
        <div class='row'>
            <div class='col-sm'>
                <div class="copyright text-center">
                    Сделано с <i class='fa fa-heart'></i> &copy; 2016 -                     
                    <script>
                    document.write(new Date().getFullYear())
                    </script>
                    Travel Lab
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- <a class="footer-link" href="http://www.vk.com/travellab_minsk" target="_blank" title="Мы в ВКонтакте">
<span class="fa-stack fa-lg">
<i class="fa fa-square-o fa-stack-2x"></i>
<i class="fa fa-vk fa-stack-1x"></i>
</span>
</a>

<a class="footer-link" href="http://www.vk.com/travellab_minsk" target="_blank" title="Мы в Facebook">
<span class="fa-stack fa-lg">
<i class="fa fa-square-o fa-stack-2x"></i>
<i class="fa fa-facebook fa-stack-1x"></i>
</span>
</a> 

<a class="footer-link" href="https://www.instagram.com/travellab_minsk/" target="_blank" title="Мы в Instagram">
<span class="fa-stack fa-lg">
<i class="fa fa-square-o fa-stack-2x"></i>
<i class="fa fa-instagram fa-stack-1x"></i>
</span>
</a>
<br/>
<a class="footer-link" href="http://www.vk.com/travellab_minsk" target="_blank" title="Мы в Одноклассниках">
<span class="fa-stack fa-lg">
<i class="fa fa-square-o fa-stack-2x"></i>
<i class="fa fa-odnoklassniki fa-stack-1x"></i>
</span>
</a> 

-->